<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href=""><img class="logo" src="assets/img/Logo_Animation_SM_White.gif" alt=""></a>
    <div class="nav-links">
      <ul>
        <li><a href="#roadmap">ROADMAP</a></li>
        <li><a href="#team">TEAM</a></li>
        <li><a href="#faqs">FAQ'S</a></li>
      </ul>
    </div>
    <div class="social-links">
      <ul>
        <li><a href="https://twitter.com/THEMETAFREAKS" target="_blank" rel="noopener noreferrer"><i class="uil uil-twitter"></i></a></li>
        <li><a href="https://twitter.com/THEMETAFREAKS" target="_blank" rel="noopener noreferrer"><i class="uil uil-instagram"></i></a></li>
        <li><a href="https://discord.gg/TMKtc5jKKx" target="_blank" rel="noopener noreferrer"><i class="uil uil-discord"></i></a></li>
      </ul>
    </div>
    <i class="uil uil-bars menu-taps" onclick="showMenu()"></i>
  </nav>