<header>
    <div class="text-box">
        <img src="assets/img/Logo_Animation_SM_White 2 (2).png" class="logo-b">
        <p>META FREAKS is a collection of 10,000 Meta Freaks that live and breathe on<br>the Ethereum blockchain they are currently attempting to load their pixels to increase quality</p>
        <a class="btn mint-btn" target="_blank" rel="noopener noreferrer"><i class="uil uil-padlock"></i> MINT</a>
    </div>
</header>
<main>
    <section id="roadmap">
        <div class="section-head">
            <h2 class="section-title">THE ROAD MAP</h2>
            <p class="section-desc">This is our roadmap so far, but this is only the begining, we want to build our project around our community, so if you have more ideas we are all ears.</p>
        </div>
        <div class="road-scroll">
            <i class="uil uil-angle-left pre-btn btn"></i>
            <div class="road flex-container">
                <div class="road-slot fade-in">
                    <div class="road-slot-head">
                        <h1 class="index">01</h1>
                        <h1 class="title">PHASE ONE</h1>
                    </div>
                    <div class="road-slot-description">
                        <div class="road-phase-slot done">
                            <div class="road-phase-head">
                                <div class="road-phase-sqr"></div>
                                <h2 class="road-phase-title">META FREAKS WILL BE THE FIRST NFT OF ITS KIND</h2>
                            </div>
                            <p class="road-phase-desc">We will start with pixel nfts leading to a 2d quality increase with the release of phase 2 and on the 3rd phase we will release customizable meta freak gods with a trait store! ( more details will be released on the next phases of the roadmap! )</p>
                        </div>
                        <div class="road-phase-slot ongoing">
                            <div class="road-phase-head">
                                <div class="road-phase-sqr"></div>
                                <h2 class="road-phase-title">SOCIAL MEDIA MARKETING</h2>
                            </div>
                            <p class="road-phase-desc">We will start with marketing targeting community growth through social media giveaways and brand collaborations ! </p>
                        </div>
                        <div class="road-phase-slot">
                            <div class="road-phase-head">
                                <div class="road-phase-sqr"></div>
                                <h2 class="road-phase-title">TEAM GROWING</h2>
                            </div>
                            <p class="road-phase-desc">We will grow the meta freaks team adding designers , artist , web 3 devs , sales and marketing managers etc. To make sure we can achieve every goal we set moving forward with maxium reach !</p>
                        </div>
                        <div class="road-phase-slot">
                            <div class="road-phase-head">
                                <div class="road-phase-sqr"></div>
                                <h2 class="road-phase-title">COMMUNITY & MARKETING WALLETS</h2>
                            </div>
                            <p class="road-phase-desc">We will start a community wallet which will hold 35% of all secondary sales !<br>We will start a marketing wallet which will hold 15% of all secondary sales !</p>
                        </div>
                        <div class="road-phase-slot">
                            <div class="road-phase-head">
                                <div class="road-phase-sqr"></div>
                                <h2 class="road-phase-title">ANIMATED FREAKS</h2>
                            </div>
                            <p class="road-phase-desc">The meta freaks animated pre-mint preview will release on social media !</p>
                        </div>
                        <div class="road-phase-slot">
                            <div class="road-phase-head">
                                <div class="road-phase-sqr"></div>
                                <h2 class="road-phase-title">METAFRAKS LLC</h2>
                            </div>
                            <p class="road-phase-desc">We will make meta freaks an llc !</p>
                        </div>
                        <div class="road-phase-slot">
                            <div class="road-phase-head">
                                <div class="road-phase-sqr"></div>
                                <h2 class="road-phase-title">$FRK STACKING</h2>
                            </div>
                            <p class="road-phase-desc">We will make staking a option with the release of phase 2 where you can stake your meta freaks og's to collect $frk token which will be used to customize your 3d meta freak gods on the release of phase 3 !</p>
                        </div>
                    </div>
                    <div class="road-slot-way"></div>
                    <img class="road-slot-image" src="assets/img/fixed_for_website 1.png" alt="">
                </div>
                <div class="road-slot fade-in locked">
                    <div class="road-slot-head">
                        <h1 class="index">02</h1>
                        <h1 class="title">PHASE TWO</h1>
                    </div>
                    <img class="road-slot-image" src="assets/img/Vector.svg" alt="">
                </div>
            </div>
            <i class="uil uil-angle-right next-btn btn"></i>
        </div>
    </section>
    <section id="team">
        <div class="section-head">
            <h2 class="section-title">MEET THE TEAM</h2>
            <p class="section-desc">Some teams call themselves a family, but we actually are one! All designers with a passion for horror culture, art, monsters, literature, mysteries, thrillers and so.</p>
        </div>
        <div class="team-members flex-container">
            <div class="member">
                <img class="member-img" src="assets/img/team/ICE_KING-1.png.png" alt="">
                <h1 class="member-name">EASTWOOD</h1>
                <h3 class="member-socials">@NFT_EASTWOOD</h3>
            </div>
            <div class="member">
                <img class="member-img" src="assets/img/team/officer_donut-1.png.png" alt="">
                <h1 class="member-name">James Jones</h1>
                <h3 class="member-socials">@james_twitter</h3>
            </div>
            <div class="member">
                <img class="member-img" src="assets/img/team/STORE_CLERK-1.png.png" alt="">
                <h1 class="member-name">James Jones</h1>
                <h3 class="member-socials">@james_twitter</h3>
            </div>
            <div class="member">
                <img class="member-img" src="assets/img/team/ZOMBIE_1_.png" alt="">
                <h1 class="member-name">James Jones</h1>
                <h3 class="member-socials">@james_twitter</h3>
            </div>
        </div>
    </section>
    <section id="faqs">
        <div class="section-head">
            <div class="contact-section-head">
                <h2 class="section-title">FAQs</h2>
                <a class="btn contact-btn" href="https://discord.gg/TMKtc5jKKx" target="_blank" rel="noopener noreferrer">CONTACT US</a>
            </div>
            <p class="section-desc">What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="faqs-questions">
            <ul>
                <li class="quest">
                    <div class="question">
                        <h1 class="question-title">How can I get a METAFREAK ?</h1>
                        <i class="question-close-open-btn uil uil-plus"></i>
                    </div>
                    <p class="answer">META FREAKS PHASE 1 WILL BE COMING SOON !</p>
                </li>
                <li class="quest">
                    <div class="question">
                        <h1 class="question-title">What can I do with my METAFREAK?</h1>
                        <i class="question-close-open-btn uil uil-plus"></i>
                    </div>
                    <p class="answer">You are free to do anything with them under a non-exclusive license.</p>
                </li>
                <li class="quest">
                    <div class="question">
                        <h1 class="question-title">What is $FRK?</h1>
                        <i class="question-close-open-btn uil uil-plus"></i>
                    </div>
                    <p class="answer">The $FRK token is an utility token in The META FREAK ecosystem, it does not represent any monetary value and is NOT an investment.</p>
                </li>
                <li class="quest">
                    <div class="question">
                        <h1 class="question-title">What's the price of a METAFREAK ?</h1>
                        <i class="question-close-open-btn uil uil-plus"></i>
                    </div>
                    <p class="answer">THE PRICE OF META FREAKS WILL BE RELEASED VERY SOON !</p>
                </li>
                <li class="quest">
                    <div class="question">
                        <h1 class="question-title">Is META FREAKS an investment?</h1>
                        <i class="question-close-open-btn uil uil-plus"></i>
                    </div>
                    <p class="answer">No, all NFT's from The META FREAKS are collectables.</p>
                </li>
                <li class="quest">
                    <div class="question">
                        <h1 class="question-title">How do I contact the team?</h1>
                        <i class="question-close-open-btn uil uil-plus"></i>
                    </div>
                    <p class="answer">Jump into our discord. All direct communication will happen there or on Twitter for now.</p>
                </li>
            </ul>
        </div>
    </section>
</main>


    <!--NAVBAR-->
    <app-navbar></app-navbar>