<footer class="footer">
  <div class="social-menu">
    <ul>
      <li><a href="https://twitter.com/THEMETAFREAKS" target="_blank" rel="noopener noreferrer"><i class="uil uil-twitter"></i></a></li>
      <li><a href="https://twitter.com/THEMETAFREAKS" target="_blank" rel="noopener noreferrer"><i class="uil uil-instagram"></i></a></li>
      <li><a href="https://discord.gg/TMKtc5jKKx" target="_blank" rel="noopener noreferrer"><i class="uil uil-discord"></i></a></li>
    </ul>
  </div>
  <p class="sca">© 2022 METAFRAKS - All rights reserved.</p>
</footer>